.character-sheet {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    padding: 24px;
    margin: 12px;
    border: 1px solid white;
}

.sheet-header {
    display: flex;
    justify-content: space-between;

    label {
        align-self: flex-start;
    }
    
    .sheet-number {
        padding: 0 0 16px 0;
        font-weight: bold;
    }
}

.sheet-top {
    display: flex;
}

.combat-section,
.misc-section,
.sheet-bio,
.stat-section {
    display: flex;
    padding-bottom: 16px;

}

.sheet-bio {
    flex-grow: 2;
    padding-right: 16px;
}

.combat-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .top-row, .bottom-row {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 1px solid white;

        label {
            align-self: flex-start;
            padding-right: 10px;
        }
    }

    .top-row {
        .flesh {
            label {
                padding-right: 25px;
            }
        }
    }

    .bottom-row {
        border-top: none;
    }
}

.sheet-bio,
.misc-section {
    flex-direction: column;

    label {
        align-self: flex-start;
    }
}

input:hover {
    cursor: pointer;
}