.stat {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 0;
}

.stat-title {
    padding: 0;
}

.stat-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid white;

    label {
        padding-right: 5px;
    }
}

.stat-score {
    border-bottom: none;
}