#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.character-sheet {
  display: flex;

  .dead {
    background-color: blue;
  }
}